<form action="/createData">
    <input type="text" hidden name="id" id="" value="<%= (editData) ? editData._id : "" %>">
    name = <input type="text" name="name" value="<%= (editData) ? editData.name : "" %>" id=""> <br><br>
    surname = <input type="text" name="surname" value="<%= (editData) ? editData.surname : "" %>" id=""> <br><br>
    submit = <input type="submit" name="" id="">
</form>

<table border="1">
    <tr>
        <td>name</td>
        <td>surname</td>
        <td>DELETE</td>
        <td>UPDATE</td>
    </tr>
    <% data.map((i , index)=> {
        %>
        <tr>
            <td>
                <%= i.name %>
            </td>
            <td>
                <%= i.surname %>
            </td>
            <td>
                <button><a href="/deleteData/<%= i._id %>">DELETE</a></button>
            </td>
            <td>
                <button><a href="/editData/<%= i._id %>">UPDATE</a></button>
            </td>
        </tr>
        <% }) %>
</table>